body {
  font-family: "Roboto", sans-serif;
  /* min-height: 100vh; */
  margin: 0;
  position: relative;
}
.btn-circle {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.nav-link-anchor {
  color: #fff !important;
}

.nav-item {
  font-weight: 600;
}
ul.navbar-nav a:hover {
  color: black !important;
}

.form-input {
  border-radius: 0;
  font-size: 12px;
  padding: 10px;
}

.form-container {
  position: relative;
  background-image: url("../image/blog-post-image-guide.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  border: 2px solid blue;
}

.form-content {
  position: absolute;
  /* bottom: 10%; */
  right: 0%;
  /* background-color: #cccccc; */
  height: 350px;
  z-index: 9999;
}
#editor {
  height: 250px;
}

.card-post {
  border: 2px solid black;
  background-color: antiquewhite;
  padding: 12px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#card {
  /* max-height: 500px;
  overflow: auto; */
  margin-bottom: 81px;
}
